

.gallery{
    text-align:center;
    background-color:rgba(161, 157, 157, 0.671)
    
}

.gallery img{
    transition: 1s;
    
    width:200px;
    border:3px solid white;
    margin:15px;
    

}

.gallery img:hover{
    
    transform:scale(1.1);
}

